{%load static%}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Workbox Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='stylesheet' href="{%static 'css/pm/h.css'%}">
    </head>
    <body>
    <div id="mySidenav" class="sidenav">
        <a href='/' class='ll'>
            <h1 class='lt'>WorkBox</h1>
        </a>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav();showButton();">&times;</a>
        <div class='first-nav-link'>
            <a class='sidenav-a' href="/">Home</a>
        </div>
        <div class='wbw'>
            <div class='nav-link'>
                <a class ='sidenav-a'href="{{w.get_absolute_url}}">{{w.title}}</a>
            </div>
        </div>
      </div>
      <div id="main">
              <span id='navbar-button' style="font-size:30px;cursor:pointer;" class='navbar-button' onclick="openNav();hideButton();">&#9776;</span>
        <div>
            <h1>Создать проект</h1>
            <form method='POST' >
                {%csrf_token%}
                {{pf.as_p}}
                <button type='submit'>Создать</button>
            </form>
        </div>
        <script>
            function hideButton(){
                document.getElementById('navbar-button').style.opacity=0;
            }
            function showButton(){
                document.getElementById('navbar-button').style.opacity=100;
            }
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }
            
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
            }
            </script>

    </body>
</html>
{%load static%}