*{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
button{
    cursor: pointer;
}
body{
    background-color: #EDEEF0;
}
.cta-text{
   
}
.register-form-wrapper{
    width:40%;
    margin:0 auto;
    height:auto;
    border-radius:20px;
    background-color:#fff;
    padding:20px;
}
.register-button{
    color:#fff;
    background-color: #676EF8;
    border-radius:5px;
    font-size: 20px;
    margin:0 auto;
    text-align: center;
    height:40px;
    width:100px;
    border: transparent;
}
.login-cta-text{
    
}