*{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}
.my-tasks-text{
    text-align:center;
}
.add-task-button{
    background-color:#FF5D63;
    border:none;
    padding:10px 20px;
    color:white;
    font-size:18px;
    border-radius:5px;
    display:block;
    margin:0 auto;
}
button{
cursor: pointer;
}

body{
background-color: #f1f1f1;
}

a{
    text-decoration: none;
    color:black;
}

.task-wrapper{
    margin:0 auto;
    width:60%;
    height:auto;
    background-color:#fff;
    border-radius:20px;
}
.task-wrapper:hover{
  border:0.5px solid black;
}
.task-text{
    padding:10px 10px;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E1F21;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .sidenav-a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    display: block;
    transition: 0.3s;
    margin-left:20px;
  }
  .sidenav .closebtn {
    font-size:36px;
    text-decoration: none;
    color:#6D6E6F;
    position:absolute;
    top:25px;
    right:30px;
  }
  .workbox-section-text{
    position:relative;
    right:-15px;
    color:#fff;
    font-size:18px;
  }
  .navbar-button{
    color:#6D6E6F;
  }
  .navbar-button:hover{
    color:#1E1F21;
  }
  .sidenav .closebtn:hover{
    color:#fff;
  }
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  .first-nav-link{
    margin-top:30px;
    width:100%;
  }
  .nav-link{
    width:100%;
  }
  .first-nav-link:hover{
    background-color:#303132;
  }
  .nav-link:hover{
    background-color:#303132;
  }
  
  .ll{
    text-decoration:none;
    padding:0 auto;
    margin:0 auto;
  }
  .ll:hover{
    text-decoration:none;
  }
  .lt{
    font-size:20px;
    color:#fff;
    margin-left:15px;
  }
